@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	background-color: #efefef;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
}


header{
    box-sizing: border-box;
	text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #673AB7;
    overflow: hidden;
}


header h1{
    float: left;
	font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #fff;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}

ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

ul div {
  padding: 20px;
}

ul li{
    display: inline-block;
}

.total

@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

.main-content{
    margin-bottom: 75px;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #da431c;
}

html{
    background-color: #f3f3f3;
}

form{
    box-sizing: border-box;
    max-width: 475px;
    margin: 0 auto;
    padding: 55px;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}

.form-row{
    text-align: left;
    max-width: 315px;
    margin: 25px auto 0;
}

.form-title-row{
    margin: 0 auto 40px;
}

form h1{
    display: inline-block;
    box-sizing: border-box;
    color: #4C565E;
    font-size: 24px;
    padding: 0 0 12px 0;
    margin: 0;
    border-bottom: 2px solid #6CAEE0;
    text-align: center;
}

h1.loading{
  box-sizing: border-box;
  color: #4C565E;
  font-size: 24px;
  padding: 0 0 12px 0;
  margin: 50px;
  text-align: center;
}

.form-row > label span{
    display: block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 200px;
    padding: 0 0 12px;
}

form input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 300px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

form input[type=radio],
form input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

form select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-radio-buttons > div{
    margin-bottom: 10px;
}

.form-radio-buttons label span{
    margin-left: 8px;
    color:  #5f5f5f;
    font-weight: normal;
}

.form-radio-buttons input{
    width: auto;
}

form button{
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin-top: 15px;
}

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

    form{
        padding: 30px;
    }

    form input{
        width: 240px;
    }

}
